 <div class="user-details">
  <h1> My Expertise </h1>
  <p> Hello there! I am currently a research engineer at Reservoir Labs, located in Manhattan. Previously, I was a student at Yale University, where I did a B.S. in Computer Science and Mathematics. And before that, it all started with qualifying for the USA Junior Mathematical Olympiad (USAJMO) in high school and placing 65th in the nation. This page contains info about my past projects. I also post on my blog (linked above) about what I'm working on, and any thoughts I have about technical topics. Feel free to contact me (email linked above) to discuss any interesting technical topics or opportunities! </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Researcher</h2>

      <p>Published three papers, 6 years of experience at Yale, Vanderbilt, and Reservoir Labs performing research in computational biology, computer science, and machine learning</p>
    </div>
    <div class="tech">
      <h2>Engineer</h2>

      <p>Technical lead for several projects as a full-time engineer and as a consultant</p>
    </div>
    <div class="tech">
      <h2>Consultant</h2>
      
      <p>Consultant for Yale School of Public Health at the Townsend Lab, and part-owner and consultant at Knowsun Consulting</p>
    </div>
</div>
