<div class="user-details">
  <h1> Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/9KwKf.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> MACML </h3>
    <ul>
      <li> C++ </li>
      <li> Probability Theory</li>
      <li> Statistics </li>
    </ul>
    <p> I collaborated with Dr. Jeffrey Townsend at the Yale School of Public Health to help design a statistical model for finding significant clusters in two dimensional discrete binary data. I was the sole developer on this project. I extended the previous work from one dimension to two dimensions, and this work was done as both a student researcher at Yale, and then as an independent consultant after my graduation in May 2017. </p>
    <a class="project-link" href="https://adityagudibanda.wordpress.com/2018/01/15/macml/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/Green-Chemistry.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Green Chemistry </h3>
    <ul>
      <li> Probability Theory </li>
      <li> Statistics </li>
      <li> Linux </li>
      <li> C </li>
    </ul>
    <p> This was a major research effort with the goal of designing a Bayesian machine learning model to predict cytotoxicity of a chemical compound given a set of covariates, for the design of safer chemicals. The model was also designed to be easily interpretable by chemists during the molecular design process. This project resulted in the publication of two papers in the Journal of Green Chemistry. </p>
    <a class="project-link" href="https://github.com/hrithikguy/DataAnalysisScripts">Code</a>
    <a class="project-link" href="https://github.com/hrithikguy/papers/blob/master/c6gc01058j.pdf">First Paper</a>
    <a class="project-link" href="https://github.com/hrithikguy/papers/blob/master/c6gc02073a.pdf">Second Paper</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/tensor.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Tensor Decompositions </h3>
    <ul>
      <li> C </li>
      <li> Convex Optimization Theory </li>
      <li> Multilinear Algebra </li>
    </ul>
    <p> A major focus of my research at Reservoir Labs is the theory and applications of tensor decompositions. This is an unsupervised learning technique that finds patterns of activity in multidimensional data, and captures more cross-variable correlations than conventional matrix decomposition techniques. I implemented an algorithm called CP-APR-PQNR, which is a tensor decomposition algorithm which uses second order methods (L-BFGS) to fit a tensor decomposition for the special case of sparse count data tensors. I also developed an algorithm known as CP-WOPT which predicts missing entries of a tensor, which has useful applications in prediction and anomaly detection. </p>
    <!-- This is a comment <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/mushrooms.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Fungal Biology Review Paper </h3>
    <ul>
      <li> Probability Theory </li>
      <li> Statistics </li>
      <li> Academic Writing </li>
    </ul>
    <p> I collaborated with Dr. Jeffrey Townsend and Dr. Zheng Wang at Yale University to help write this academic paper, which is due to be published in Fungal Biology Reviews. </p>
   <!-- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/dna.Jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> VINAS </h3>
    <ul>
      <li> C++ </li>
      <li> R </li>
      <li> Machine Learning </li>
      <li> Statistics </li>
      <li> Data Visualization </li>
    </ul>
    <p> This project holds a special place in my heart because it was my first large scale machine learning project. This was a research effort at the Gerstein Lab at Yale, with mentorship from Dr. Jing Zhang, with the purpose of designing a machine learning algorithm to find statistically significant genes that were linked with cancer. I coded an end-to-end machine learning pipeline which operated on large data (chromosome data on the order of terabytes), and had to implement a variety of computer science tricks, such as efficient sorting and hashing of big data, machine learning methods, such as logistic regression and PCA, and statistics and theoretical math to compute p-values for the gene with formal justification. </p>
    <a class="project-link" href="https://github.com/hrithikguy/VINAS">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/dna2.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> MASSPRF </h3>
    <ul>
      <li> Probability Theory </li>
      <li> Statistics </li>
      <li> C++ </li>
      <li> Python </li>
    </ul>
    <p> This is an ongoing research effort which seeks to develop a statistical model to find biological significant clusters of mutations in genome data. I have been involved with Dr. Professor Townsend and his students to help with the development and statistical justifications of this project. </p>
    <a class="project-link" href="https://github.com/hrithikguy/MASSPRF">Check it out</a>
  </div>
</div>
